{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .grid-container {
      display: grid;
      column-gap: 10px;
      row-gap:10px;
      grid-template-columns: auto auto;
      background-color: white;
      padding: 10px;
      margin-left:0.6rem;
    }
    
    .grid-item {
      background-color: white;
      border: 1px solid black;
      width: 70%;
      font-size: 10px;
      text-align: left;}
    </style>
<section>


    <div class="row fixed-top  " style="top: 7rem; margin-left: 18rem;" >

        <div class="col-md-12">

            <div style="height: 640px;width: 1215px;overflow-y: scroll;">

                <div class="row">
<h1 style="color: white;"> Dashboard</h1><br>
                    <div class="grid-container" style="background-color:black;color:white;"><fieldset style="border:1px solid white;background-color:black;color:white;width: 100%;">
                        <div class="grid-item" style="background-color:black;color:white;font-size:15px;"><h4>&nbsp;&nbsp;Sale</h4><br>
            
                          <svg width="130%" height="300" viewBox="0 0 466 20" preserveAspectRatio="xMinYMin meet"
                           style="background-color:black;color:rgb(237, 231, 231);" >
                           <g class="bar-container" transform="translate(0,4)">
                              <rect class="ph-rect" width="466" height="10" fill="#F4F4F4"></rect>
                              <g class="rects-container" transform="translate(0, 0)"><rect height="10" width="391.2038162045045" class="cursor-pointer" x="0" style="fill:grey;"></rect>
                                <rect height="10" width="74.7961837954955" class="cursor-pointer" x="391.20379638671875" style="fill:yellow"></rect>
                              </g></g></svg>
                          
                            
                        </div>
                      </fieldset>
                        <fieldset style="border: 1px solid white;width: 80%;">
                        <div class="grid-item" style="background-color:black;color:white;font-size:15px;"> <h4>&nbsp;&nbsp; Total Payables</h4>  <br>
                          <svg width="130%" height="20" viewBox="0 0 466 20" preserveAspectRatio="xMinYMin meet"
                          style="background-color:black;color:white;">
                            <g class="bar-container" transform="translate(0,4)">
                              <rect class="ph-rect" width="466" height="10" fill="#F4F4F4"></rect>
                              <g class="rects-container" transform="translate(0, 0)"><rect height="10" width="391.2038162045045" class="cursor-pointer" x="0" style="fill: grey;"></rect>
                                <rect height="10" width="74.7961837954955" class="cursor-pointer" x="391.20379638671875" style="fill: yellow;"></rect>
                              </g></g></svg>
                              
                              <table>
                                <td style="color:white;"> &nbsp;&nbsp; Current<br> &nbsp;&nbsp; 0.00</td>
                                <td></td><td></td><td></td><td></td>
                                <td style="color:white;"> &nbsp;&nbsp; Over Due<br> &nbsp;&nbsp; 0.00</td>
                              
                              </table>
                          </div></fieldset>
                    </div><br></div>
                    
                    <div class="row" style="width: 95%;">
                      
                                          <div class="grid-container" style="background-color:black;color:white;display: flex;"><fieldset style="border:1px solid white;background-color:black;color:white;width: 33%;flex: 1;">
                                              <div class="grid-item" style="background-color:black;color:white;font-size:15px;"><h4>&nbsp;&nbsp;Sale</h4><br>
                                  
                                                <svg width="33%" height="200" viewBox="0 0 466 20" preserveAspectRatio="xMinYMin meet"
                                                 style="background-color:black;color:rgb(237, 231, 231);" >
                                                 <g class="bar-container" transform="translate(0,4)">
                                                    <rect class="ph-rect" width="466" height="10" fill="#F4F4F4"></rect>
                                                    <g class="rects-container" transform="translate(0, 0)"><rect height="10" width="391.2038162045045" class="cursor-pointer" x="0" style="fill:grey;"></rect>
                                                      <rect height="10" width="74.7961837954955" class="cursor-pointer" x="391.20379638671875" style="fill:yellow"></rect>
                                                    </g></g></svg>
                                                
                                                  
                                              </div>
                                            </fieldset>
                                            <fieldset style="border:1px solid white;background-color:black;color:white;width: 33%;flex: 1;">
                                              <div class="grid-item" style="background-color:black;color:white;font-size:15px;"><h4>&nbsp;&nbsp;Sale</h4><br>
                                  
                                                <svg width="33%" height="200" viewBox="0 0 466 20" preserveAspectRatio="xMinYMin meet"
                                                 style="background-color:black;color:rgb(237, 231, 231);" >
                                                 <g class="bar-container" transform="translate(0,4)">
                                                    <rect class="ph-rect" width="466" height="10" fill="#F4F4F4"></rect>
                                                    <g class="rects-container" transform="translate(0, 0)"><rect height="10" width="391.2038162045045" class="cursor-pointer" x="0" style="fill:grey;"></rect>
                                                      <rect height="10" width="74.7961837954955" class="cursor-pointer" x="391.20379638671875" style="fill:yellow"></rect>
                                                    </g></g></svg>
                                                
                                                  
                                              </div>
                                            </fieldset>
                                            <fieldset style="border:1px solid white;background-color:black;color:white;width: 33%;flex: 1;">
                                              <div class="grid-item" style="background-color:black;color:white;font-size:15px;"><h4>&nbsp;&nbsp;Sale</h4><br>
                                  
                                                <svg width="33%" height="200" viewBox="0 0 466 20" preserveAspectRatio="xMinYMin meet"
                                                 style="background-color:black;color:rgb(237, 231, 231);" >
                                                 <g class="bar-container" transform="translate(0,4)">
                                                    <rect class="ph-rect" width="466" height="10" fill="#F4F4F4"></rect>
                                                    <g class="rects-container" transform="translate(0, 0)"><rect height="10" width="391.2038162045045" class="cursor-pointer" x="0" style="fill:grey;"></rect>
                                                      <rect height="10" width="74.7961837954955" class="cursor-pointer" x="391.20379638671875" style="fill:yellow"></rect>
                                                    </g></g></svg>
                                                
                                                  
                                              </div>
                                            </fieldset>
                    </div>
                    </div>
                  
                   






            
            
            </div>

        </div>
    
    </div>

</section>



<script
src="http://www.w3.org/2000/svg"
src="https://www.gstatic.com/charts/loader.js">
</script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>



{% endblock %}